body {
  background-image: url("kesh.jpg");
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
  height: 100vh;                 
  margin: 0;                     
}


.message {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px #ffb6c1;
}

audio {
  margin: 20px 0;
}

@keyframes pop {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 20px;
  display: inline-block;
}
.overlay {
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  padding: 30px;
  border-radius: 20px;
  display: inline-block;
  color: white;
  max-width: 90%;
  margin: 50px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

